<html>
<body>
<table width="670" cellspacing="0" cellpadding="0" border="0" align="center" style="border: 6px solid #56207B; padding:0px; border-radius: 10px;" />

<tr>
  <td>
	<table width="670" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="white">
	<tr>
		<td width="602" height="35" style="padding: 10px; ">
		<span style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(124, 124, 124); ">
		Voc&ecirc; recebeu uma resposta autom&aacute;tica
		</span>
		</td>
	</tr>
	<tr>
		<td width="602" height="35" style="padding: 10px; ">
		<span style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(124, 124, 124); ">      
		Esta campanha foi enviada pela ferramenta 
		</span>
		<span style="font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
		<a style="text-decoration:none; color: rgb(255, 141, 101);" href="http://www.iqmail.com.br" target="_blank"><b>IQ Mail</b></a>
		</span>
		</td>
	</tr>
	</table>
  </td>
</tr>

<tr>
    <td height="85">
	<table border="0" width="100%">
	
	<tr>
		<td>
		 <table width="100%" cellspacing="1" cellpadding="2" border="0" align="center" style="background-color: #DC99CC; padding:10px; border-radius: 10px;" />
		  <tr><td><b><font face="verdana" size="3" color="white"> Dados da Campanha </font></b></td></tr>       
		</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
		<table width="100%" cellspacing="1" cellpadding="1" border="0" align="center" style="background-color: #bbbdc0; padding:10px; border-radius: 0px;" />
		<tr>
			<td width="20%"><b><font face="verdana" size="2" color="white"> ID: </font></b></td>
			<td width="30%"><font face="verdana" size="2" color="white"> tag##id## </font></td>
			<td width="20%"><b><font face="verdana" size="2" color="white"> Nome: </font></b></td>
			<td width="30%"><font face="verdana" size="2" color="white"> tag##nome## </font></td>                
		</tr>
		</table>
		</td>
	</tr>                           
	<tr>
	   <td>
	   <table width="100%" cellspacing="1" cellpadding="1" border="0" align="center" style="background-color: #bbbdc0; padding:10px; border-radius: 0px;" />                               
	   <tr>
		   <td width="20%"><b><font face="verdana" size="2" color="white"> Rementente: </font></b></td>
		   <td width="30%" style="text-decoration: none"><font face="verdana" size="2" color="white"> tag##remetente## </font></td>
		   <td width="20%"><b><font face="verdana" size="2" color="white"> Destinat&aacute;rio: </font></b></td>
		   <td width="30%" style="text-decoration: none"><font face="verdana" size="2" color="white"> tag##destinatario## </font></td>                
	   </tr>              
	   </table>
	   </td>
	</tr>               
	<tr>
	   <td>
	   <table width="100%" cellspacing="1" cellpadding="1" border="0" align="center" style="background-color: #bbbdc0; padding:10px; border-radius: 0px;" />                   
	   <tr>
		   <td width="20%"><b><font face="verdana" size="2" color="white">Assunto: </font></b></td>
		   <td width="80%"><font face="verdana" size="2" color="white"> tag##assunto## </font></td>
	   </tr>                          
	   </table>
	   </td>
	</tr>               
	
	</table>
	</td>
</tr>

<tr>
    <td>
	<table width="670" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="white">
	<tr>
		<td width="602" height="25" style="padding: 10px; ">&nbsp;</td>
	</tr>
	</table>
	</td>
</tr>  

<tr>
	<td>
	<table border="0" width="100%">
	
	<tr>
		<td>
		<table width="100%" cellspacing="1" cellpadding="2" border="0" align="center" style="background-color: #DC99CC; padding:10px; border-radius: 10px;" />
		<tr>
			<td><b><font face="verdana" size="3" color="white"> Resposta Autom&aacute;tica </font></b></td>
		</tr>       
		</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>      	  
  
	<tr>
	    <td>
	    <table width="100%" border="0" align="center" style="background-color: white; border-radius: 0px;" />
		tag##corpo##
		</table>
		</td>
	</tr>

	</table>
	</td>
</tr>

<tr>
	<td>
	<table width="670" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="white">
	<tr>
		<td width="602" height="25" style="padding: 10px; ">&nbsp;</td>
	</tr>
	</table>
	</td>
</tr>  

</table>
</body>
</html>